# 필수 과제

- 2,3주차 동안 배웠던 판다스 문법을 통해 전처리 진행
- 전처리를 하기 전 분석 목적을 정하고 코드를 만들고(주석으로 코드 설명) 나온 결과를 해석해 주세요.
    - e.g. origin 별로 연비가 가장 높은 차량의 name은 무엇인가?
    
- 그동안 배웠던 모든 문법을 1개 이상 다 적용해야 한다!
---

## **전처리 목적**: 
## origin 별로 연비가 가장 높은 차량의 name은 무엇인가?



연비 = 주행거리(km) / 소모된 연료량(l)

- mpg: 연비 Miles per Gallon
- cylinders: 실린더 수
- displacement: 배기량
- horsepower: 마력
- weight: 무게
- acceleration: 가속력 
- model_year: 모델 연도
- origin: 원산지
- name: 이름

In [4]:
import pandas as pd
import seaborn as sns
import numpy as np

# 연비, 마력 등의 개념
mpg = sns.load_dataset('mpg')
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [3]:
type(mpg[['name', 'origin']])

pandas.core.frame.DataFrame

In [5]:
max(mpg['mpg'])

46.6

In [6]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [7]:
mpg.tail(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [9]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [10]:
mpg.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [11]:
mpg.describe(include='all')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398,398
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,305
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,usa,ford pinto
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249,6
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,NaN,NaN
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,NaN,NaN
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,NaN,NaN
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,NaN,NaN
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,NaN,NaN
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,NaN,NaN
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,NaN,NaN

In [13]:
mpg.describe(include=['number'])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [15]:
mpg.describe(include='object')  ## category는 없어서 제외하고 추출함함

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

In [32]:
col_e = list(mpg.columns)
col_e

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model_year',
 'origin',
 'name']

In [40]:
del mpg_k

In [41]:
mpg_k = pd.DataFrame(mpg)
mpg_k

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [42]:
col_k = ['연비', '실린더 수', '배기량', '마력', '무게', '가속력', '모델 연도', '원산지', '차량명']
for j in col_k:
    print(j)

연비
실린더 수
배기량
마력
무게
가속력
모델 연도
원산지
차량명

In [43]:
for i, j in zip(col_e, col_k):
        mpg_k.rename(columns={i : j}, inplace=True)
        
mpg_k

,연비,실린더 수,배기량,마력,무게,가속력,모델 연도,원산지,차량명
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [7]:
# Derived Variable

mpg_dv = mpg.copy()

In [8]:
## 효율 관련 변수

mpg_dv['km_per_liter'] = mpg_dv['mpg'] * 0.425144

mpg_dv['fuel_consumption'] = 100 / mpg_dv['km_per_liter']

mpg_dv['hp_per_displacement'] = mpg_dv['horsepower'] / mpg_dv['displacement']

mpg_dv['efficiency_index'] = mpg_dv['mpg'] / mpg_dv['weight']

In [9]:
## 성능 관련 변수

# mpg_dv['hp_per_weight'] = mpg_dv['horsepower'] / mpg_dv['weight']
mpg_dv['power_roweight_ratio'] = mpg_dv['horsepower'] / mpg_dv['weight']

mpg_dv['acceleration_category'] = pd.cut(mpg_dv['acceleration'], bins=[0, 10, 15, 20], labels=['빠름', '보통', '느림'])

mpg_dv['acc_per_weight'] = mpg_dv['acceleration'] / mpg_dv['weight']

mpg_dv['disp_per_cylinder'] = mpg_dv['displacement'] / mpg_dv['cylinders']

In [10]:
## 연식 및 연료 효율 관련 변수

year = 2024
mpg_dv['car_age'] = year - mpg_dv['model_year']

mpg_dv['fuel_efficiency_category'] = pd.cut(mpg_dv['mpg'], bins=[0, 15, 25, 50], labels=['저효율', '보통', '고효율'])

In [11]:
## 엔진 및 차량 타입 관련 변수

mpg_dv['engine_size_category'] = pd.cut(mpg_dv['displacement'], bins=[0, 200, 400, 600], labels=['소형', '중형', '대형'])

mpg_dv['origin_category'] = mpg_dv['origin'].replace({1: 'USA', 2: 'Europe', 3: 'Japan'})

In [12]:
mpg_dv

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,km_per_liter,...,hp_per_displacement,efficiency_index,power_roweight_ratio,acceleration_category,acc_per_weight,disp_per_cylinder,car_age,fuel_efficiency_category,engine_size_category,origin_category
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,7.652592,...,0.423453,0.005137,0.037100,보통,0.003425,38.375,1954,보통,중형,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,6.377160,...,0.471429,0.004062,0.044679,보통,0.003114,43.750,1954,저효율,중형,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,7.652592,...,0.471698,0.005239,0.043655,보통,0.003201,39.750,1954,보통,중형,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,6.802304,...,0.493421,0.004661,0.043694,보통,0.003495,38.000,1954,보통,중형,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,7.227448,...,0.463576,0.004929,0.040591,보통,0.003044,37.750,1954,보통,중형,usa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,11.478888,...,0.614286,0.009677,0.030824,느림,0.005591,35.000,1942,고효율,소형,usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,18.706336,...,0.536082,0.020657,0.024413,NaN,0.011549,24.250,1942,고효율,소형,europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,13.604608,...,0.622222,0.013943,0.036601,보통,0.005054,33.750,1942,고효율,소형,usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,11.904032,...,0.658333,0.010667,0.030095,느림,0.007086,30.000,1942,고효율,소형,usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,13.179464,...,0.689076,0.011397,0.030147,느림,0.007132,29.750,1942,고효율,소형,usa

In [60]:
mpg_dv['acceleration_category'].value_counts()

acceleration_category
느림    194
보통    171
빠름     10
Name: count, dtype: int64

In [62]:
mpg_dv['fuel_efficiency_category'].value_counts()

fuel_efficiency_category
보통     171
고효율    158
저효율     69
Name: count, dtype: int64

In [63]:
mpg_dv['engine_size_category'].value_counts()

engine_size_category
소형    240
중형    149
대형      9
Name: count, dtype: int64

In [64]:
mpg_dv['origin_category'].value_counts()

origin_category
usa       249
japan      79
europe     70
Name: count, dtype: int64

In [66]:
mpg_k

,연비,실린더 수,배기량,마력,무게,가속력,모델 연도,원산지,차량명
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [67]:
mpg_k['무게'].loc[0]

3504

In [68]:
mpg_k['무게'].iloc[0]

3504

In [69]:
mpg_dv

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,km_per_liter,...,power_roweight_ratio,acceleration_category,car_age,fuel_efficiency_category,engine_size_category,hp_per_displacement,efficiency_index,acc_per_weight,disp_per_cylinder,origin_category
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,7.652592,...,0.037100,보통,1954,보통,중형,0.423453,0.005137,0.003425,38.375,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,6.377160,...,0.044679,보통,1954,저효율,중형,0.471429,0.004062,0.003114,43.750,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,7.652592,...,0.043655,보통,1954,보통,중형,0.471698,0.005239,0.003201,39.750,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,6.802304,...,0.043694,보통,1954,보통,중형,0.493421,0.004661,0.003495,38.000,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,7.227448,...,0.040591,보통,1954,보통,중형,0.463576,0.004929,0.003044,37.750,usa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,11.478888,...,0.030824,느림,1942,고효율,소형,0.614286,0.009677,0.005591,35.000,usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,18.706336,...,0.024413,NaN,1942,고효율,소형,0.536082,0.020657,0.011549,24.250,europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,13.604608,...,0.036601,보통,1942,고효율,소형,0.622222,0.013943,0.005054,33.750,usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,11.904032,...,0.030095,느림,1942,고효율,소형,0.658333,0.010667,0.007086,30.000,usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,13.179464,...,0.030147,느림,1942,고효율,소형,0.689076,0.011397,0.007132,29.750,usa

In [70]:
# mpg_dv['acc_per_weight'] = mpg_dv['acceleration'] / mpg_dv['weight']

mpg_dv.loc[10:20:5, ['acceleration', 'weight', 'acc_per_weight']]

    acceleration  weight  acc_per_weight
10          10.0    3563        0.002807
15          15.5    2833        0.005471
20          17.5    2672        0.006549

In [71]:
list(mpg_dv.columns)

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model_year',
 'origin',
 'name',
 'km_per_liter',
 'fuel_consumption',
 'power_roweight_ratio',
 'acceleration_category',
 'car_age',
 'fuel_efficiency_category',
 'engine_size_category',
 'hp_per_displacement',
 'efficiency_index',
 'acc_per_weight',
 'disp_per_cylinder',
 'origin_category']

In [78]:
mpg_dv.iloc[10:20:5, 4:6]

    weight  acceleration
10    3563          10.0
15    2833          15.5

In [79]:
mpg_k

,연비,실린더 수,배기량,마력,무게,가속력,모델 연도,원산지,차량명
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [80]:
mpg_dv.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name', 'km_per_liter',
       'fuel_consumption', 'power_roweight_ratio', 'acceleration_category',
       'car_age', 'fuel_efficiency_category', 'engine_size_category',
       'hp_per_displacement', 'efficiency_index', 'acc_per_weight',
       'disp_per_cylinder', 'origin_category'],
      dtype='object')

In [85]:
mpg_c = mpg_dv[['acceleration_category', 'fuel_efficiency_category', 'engine_size_category', 'origin_category']]
mpg_c

,acceleration_category,fuel_efficiency_category,engine_size_category,origin_category
0,보통,보통,중형,usa
1,보통,저효율,중형,usa
2,보통,보통,중형,usa
3,보통,보통,중형,usa
4,보통,보통,중형,usa
...,...,...,...,...
393,느림,고효율,소형,usa
394,NaN,고효율,소형,europe
395,보통,고효율,소형,usa
396,느림,고효율,소형,usa
397,느림,고효율,소형,usa

In [86]:
mpg_c.query("acceleration_category == '보통' & fuel_efficiency_category == '보통'")

,acceleration_category,fuel_efficiency_category,engine_size_category,origin_category
0,보통,보통,중형,usa
2,보통,보통,중형,usa
3,보통,보통,중형,usa
4,보통,보통,중형,usa
14,보통,보통,소형,japan
...,...,...,...,...
334,보통,보통,소형,japan
336,보통,보통,소형,usa
341,보통,보통,소형,usa
362,보통,보통,소형,japan
389,보통,보통,중형,usa

In [5]:
mpg.shape

(398, 9)

In [13]:
mpg_dv.shape

(398, 21)

In [15]:
mpg_dv.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name', 'km_per_liter',
       'fuel_consumption', 'hp_per_displacement', 'efficiency_index',
       'power_roweight_ratio', 'acceleration_category', 'acc_per_weight',
       'disp_per_cylinder', 'car_age', 'fuel_efficiency_category',
       'engine_size_category', 'origin_category'],
      dtype='object')

In [16]:
21-9

12

In [20]:
mpg_dv = mpg_dv.iloc[:, -12:]
mpg_dv

,km_per_liter,fuel_consumption,hp_per_displacement,efficiency_index,power_roweight_ratio,acceleration_category,acc_per_weight,disp_per_cylinder,car_age,fuel_efficiency_category,engine_size_category,origin_category
1,6.377160,15.680961,0.471429,0.004062,0.044679,보통,0.003114,43.75,1954,저효율,중형,usa
145,13.604608,7.350451,0.734940,0.015976,0.030454,느림,0.009486,20.75,1950,고효율,소형,japan
289,7.184934,13.918013,0.442857,0.003876,0.035550,보통,0.003417,43.75,1945,보통,중형,usa

In [21]:
mpg_dv.columns

Index(['km_per_liter', 'fuel_consumption', 'hp_per_displacement',
       'efficiency_index', 'power_roweight_ratio', 'acceleration_category',
       'acc_per_weight', 'disp_per_cylinder', 'car_age',
       'fuel_efficiency_category', 'engine_size_category', 'origin_category'],
      dtype='object')